# Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# virtual environment
env

# Logs
pip-log.txt
pip-delete-this-directory.txt
*.log

# Coverage
.coverage
.coverage.*
.cache
coverage.xml
*,cover

# Git folder
.git
